version: '3'

services:

  go-app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./app:/app
    restart: unless-stopped

  vue-frontend:
    image: node:latest
    working_dir: /app
    volumes:
      - ./web:/app
    ports:
      - "8080:8080"
    command: sh -c "npm install && npm run serve" 
    depends_on:
      - go-app